body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial;
}

img {
	width: 100%;
}

#upper-nav {
	height: 25px;
	background-color: #0062FF;
	color: white;
	font-size: 12px;
}

#upper-nav a {
	color: white;
	text-decoration: none;
}

#upper-nav a:hover {
	color: #CFE3FC;
}

#nav {
	height: 45px;
	width: 100%;
	line-height: 45px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #F2F4F5;
	opacity: .9%;
}

#nav a {
	text-decoration: none;
	
}

#nav a:visited {
	color: #0062FF;
}

#nav-left {
	line-height: 35px;
	color: gray;
	font-size: 20px;
}

.nav-right {
	
}

#top {
	margin-right: 20%;
	display: inline;
	line-height: 25px;
}

#left {
	display: inline;
}
#right {
	display: inline;
	margin-left: 30%;
}

#image-background {
   z-index: -1;
}

#adventure-description{
	margin-left: 20%;
	margin-right: 20%;
	font-size: 15px;
	text-decoration: none;
	color: white;
}

#title-image {
	height: auto;
	width: 100%;
}

.separate {
	border: 1px solid #e0ebeb;
}

#what-you-need {
	margin-left: 20%;
	margin-right: 20%;
	color: ;
}

.need-list {
	font-size: 15px;
	color: #85adad;
	list-style: none;
	margin-left: 25px;

}