body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial;
}

img {
	width: 100%;
}

#upper-nav {
	height: 25px;
	width: 100%;
	background-color: #729F98;
	color: white;
	font-size: 12px;
	position: fixed;
	z-index: 2;
}

#upper-nav a {
	color: white;
	text-decoration: none;
}

#upper-nav a:hover {
	color: #CFE3FC;
}

#nav {
	height: 40px;
	width: 100%;
	top: 25px;
	line-height: 40px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	opacity: .9;
	position: fixed;
	z-index: 1;
}

#nav a {
	text-decoration: none;
}

#nav a:visited {
	color: black;
}

#nav-left {
	line-height: 35px;
	color: black;
	font-size: 20px;
}

.nav-right {
	margin-left: 3%;
	line-height: 25px;
}

#top {
	margin-right: 20%;
	display: inline;
	line-height: 25px;
}

#left {
	display: inline;
}
#right {
	font-size: 13px;
	display: inline;
	margin-left: 53%;
}

#image-background {
   z-index: -1;
}

#about {
	height: 500px;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #F0ECEB;
}

#title-image {
	height: auto;
	width: 100%;
}

.separate {
	border: 1px solid #e0ebeb;
}

#what-you-need {
	margin-left: 20%;
	margin-right: 20%;
	color: ;
}

.need-list {
	font-size: 15px;
	color: #85adad;
	list-style: none;
	margin-left: 25px;

}